
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
<!--Muestra un título (nombre del libro)-->
    <title>{{detalle_libro.title}}</title>
</head>
<body>
    <h1>{{detalle_libro.title}}</h1>
<!--Muestra la imagen del libro-->

    {% if detalle_libro.thumbnailUrl %}
        <img src="{{detalle_libro.thumbnailUrl}}" alt="Imagen"/>
    {% endif %}

<!--Muestra el número de páginas-->

    <h3 style = "color: red;"> Nº de páginas: {{detalle_libro.pageCount}}</h3><br>

<!--Muestra la descripción-->
    <h4 style = "color: blue;"><strong>Descripción:</strong></h4>
    <p> {{detalle_libro.shortDescription}}</p><br>

</body>
</html>
